.col-esquerda{
    background-color: black;
    height: 100%;

}

.col-meio{
    background-color: black;
    height: 100%;
    

}

.col-direita{
    background-color: black;
    height: 100%;
}

.loading {
    color: white;
}

.loading-playlists{
    color: white;
}